:host .mat-form-field ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
}

.chat-box {
    padding: 12px;
    display: flex;
    gap: 8px;
}

.mat-form-field {
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6px;
}